extends base

block contents
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(placeholder="Username", name="username", type="text", required)
    input(placeholder="Password", name="password", type="password", required)
    input(type="submit", value="Login")
  hr
  div
    span 회원이 아니십니까? 
    a(href="/join") 회원가입 하러가기 &rarr;