extends base.pug
include mixins/video

block contents
  form(method='get').search__form
    input(name='keyword', placeholder='Search by title', type="text")
    button
      i.fas.fa-search
  div.video-grid
    each video in videos
      +video(video)
    else
      span.empty__message 영상을 찾지 못했습니다.