extends base.pug

block contents
  if errorMessage 
    span=errorMessage
  form(method='post' action="/videos/upload") 
    input(name='title', placeholder="Title", required, type="text", maxLength=80)
    input(name='description', placeholder="Description", required, type="text", minLength=5)
    input(name='hashtags', placeholder="Hashtags, separated by comma.", required, type="text")
    input(value='Upload Video', type='submit')