extends base.pug

block contents 
  video(src='/'+video.videoUrl, controls, autoplay)
  div 
    p=video.description
    small=video.createdAt
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;